{% extends "theme.twig" %}

{% block title %}
    Créer un compte utilisateur
{% endblock %}

{% block page %}
    
    <h1>Créer un compte</h1>
    <form action="/register/save" method="POST">
        <input type="text" name="firstName" placeholder="Prénom">
        <input type="text" name="lastName" placeholder="Nom de famille">
        <input type="email" name="email" placeholder="Adresse email">
        <input type="password" name="password" placeholder="Mot de passe">
        <button>Confirmer</button>
    </form>

{% endblock %}