{% extends "theme.twig" %}

{% block title %}Mes notes de frais{% endblock %}

{% block page %}
    <h1>Mes notes de frais !</h1>
    <table>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Raison</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.subject }}</td>
                <td>{{ expense.amount / 100 }} €</td>
                <td>{{ expense.createdAt.format('d/m/Y') }}</td>
                <td>
                    {% if expense.status == "ACCEPTED" %}
                    Acceptée
                    {% elseif expense.status == "DENIED" %}
                    Refusée
                    {% else %}
                    En attente
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}